<section class="services" id="services">
  <div class="container services__container">
    <h3 class="services__title title">Рейтинг онлайн-сервисов для поиска и проверки задолженностей</h3>
    {% from '../../components/services-list/services-list.njk' import list %}
    {% set info = [
      {
        class: 'services__item',
        pathImg: './assets/img/icon_1.png',
        title: 'ФССП России',
        subTitle: 'Федеральная служба судебных приставов',
        description: "Официальный сайт Федеральной службы судебных приставов России.
 Проверка задолженностей осуществляется исключительно по официальной базе,
        но может потребовать ввода большей информации чем другие аналогичные сервисы.",
 button: 'Перейти на сайт'
      }, 
      {
        class: 'services__item',
        pathImg: './assets/img/icon_2.png',
        title: 'Nalog',
        subTitle: 'Сайт налоговой службы РФ',
        description: "Онлайн-сервис “Заплати налоги” на официальном сате налоговой инспекции России.
Здесь как физические так и юридические лица могут заплатить налоги и пошлины. 
Задолженности можно узнать при наличии личного кабинета налогоплательщика.",
 button: 'Перейти на сайт'
      }, {
        class: 'services__item',
        pathImg: './assets/img/icon_3.png',
        title: 'Rudolgi',
        subTitle: 'Проверка задолженности ФССП онлайн',
        description: "Онлайн-сервис с приятным интерфейсом и и возможностью 
        быстро и удобно проверить любые виды задолженностей перед ФССП. 
        На сайте имеются толкования необходимых законов, связанных с теми или иными задолженностями.",
 button: 'Перейти на сайт'
      },
      {
        class: 'services__item',
        pathImg: './assets/img/icon_4.png',
        title: 'Fssp.online',
        subTitle: 'Проверка задолженности в судебном реестре',
        description: "Онлайн-сервис с приятным интерфейсом и и возможностью 
        быстро и удобно проверить любые виды задолженностей перед ФССП. 
        На сайте имеются толкования необходимых законов, связанных с теми или иными задолженностями.",
 button: 'Перейти на сайт'
      }, 
      {
        class: 'services__item',
        pathImg: './assets/img/icon_5.png',
        title: 'Oplatagosuslug',
        subTitle: 'Проверка и оплата задолженностей',
        description: "Удобный сервис и одноимённые приложения для смартфонов, 
        которые отличаются минималистичным интерфейсом. Помимо информации об изменении статуса, 
        показывают прогнозируемую дату доставки, основываясь на статистике за последние два месяца.",
 button: 'Перейти на сайт'
      }, 
      {
        class: 'services__item',
        pathImg: './assets/img/icon_6.png',
        title: 'Fsspru',
        subTitle: 'Поиск долгов по ФИО и номеру ИП',
        description: "Официальная проверка задолженностей по базе судебных приставов по фамилии, 
        по исполнительному производству, исполнительному документу или юридическому лицу в 
        режиме онлайн с возможностью оплаты задолженности.",
 button: 'Перейти на сайт'
      }, 
      {
        class: 'services__item',
        pathImg: './assets/img/icon_7.png',
        title: 'Rosdolgi',
        subTitle: 'Узнать задолженность по фамилии',
        description: "Чтобы узнать свою задолженность по фамилии, 
        выполните проверку по базе ФССП через официальный сервис РосДолги. 
        Проверка долгов проводится по физ. лицам или юрлицам. 
        Судебные приставы публикуют в открытом доступе информацию задолженностях.",
 button: 'Перейти на сайт'
      }
    ] %}
    {{  list(info, 'services__list') }}
  </div>
</section>