<section class="services" id="services">
  <div class="container services__container">
    <h3 class="services__title title">Рейтинг онлайн-сервисов для поиска и проверки задолженностей</h3>
    {% from '../../components/services-list/services-list.njk' import list %}
    {% set info = [
      {
        class: 'services__item',
        pathImg: './assets/img/icon_1.png',
        title: 'Nalog',
        subTitle: 'Сайт налоговой службы РФ',
        description: "Онлайн-сервис “Заплати налоги” на официальном сайте налоговой инспекции России.
        Здесь как физические так и юридические лица могут заплатить налоги и пошлины. 
        Задолженности можно узнать при наличии личного кабинета налогоплательщика."
      }, 
      {
        class: 'services__item',
        pathImg: './assets/img/icon_2.png',
        title: 'ГосОплата',
        subTitle: 'Проверка и оплата онлайн',
        description: "Совершить операцию проверки и оплаты долгов можно как на сайте, так и в мобильном приложении сервиса, призванном сделать этот процесс еще более простым и удобным.
        Проверка долгов по штрафам, налогам, судебным приставам, быстрая оплата без регистрации."
      }, {
        class: 'services__item',
        pathImg: './assets/img/icon_3.png',
        title: 'Oplatagosuslug',
        subTitle: 'Проверка и оплата задолженностей',
        description: "Удобный сервис и одноимённые приложения для смартфонов, которые отличаются минималистичным интерфейсом. 
        Помимо информации об изменении статуса, показывают прогнозируемую дату доставки, основываясь на статистике за последние два месяца."
      }, 
      {
        class: 'services__item',
        pathImg: './assets/img/icon_4.png',
        title: 'Dolgi',
        subTitle: 'Портал с функцией проверки задолженностей',
        description: "Сервис позволяет узнать в формате онлайн о наличии штрафов ГИБДД, уточнить, если ли у вас запрет на выезд за границу, получить сведения о находящихся в суде делах и принятым по ним судебным актам. Кроме этого содержит в себе достаточно много разнообразных полезных разделов. "
      }, 
      {
        class: 'services__item',
        pathImg: './assets/img/icon_5.png',
        title: 'Rudolgi',
        subTitle: 'Проверка задолженности ФССП онлайн',
        description: "Онлайн-сервис с приятным интерфейсом и и возможностью быстро и удобно проверить любые виды задолженностей перед ФССП. 
        На сайте имеются толкования необходимых законов, связанных с теми или иными задолженностями."
      }, 
      {
        class: 'services__item',
        pathImg: './assets/img/icon_6.png',
        title: 'Rosdolgi',
        subTitle: 'Узнать задолженность по фамилии',
        description: "Чтобы узнать свою задолженность по фамилии, выполните проверку по базе ФССП через официальный сервис РосДолги. 
        Проверка долгов проводится по физ. лицам или юрлицам. Судебные приставы публикуют в открытом доступе информацию задолженностях."
      }
    ] %}
    {{  list(info, 'services__list') }}
  </div>
</section>