.hero {
  padding: 5px 0 20px;
  @include media(M) {
    padding: 25px 0 30px;
  }
  @include media(L) {
    padding-top: 20px;
    padding-bottom: 55px;
  }
  @include media(XL) {
    padding-top: 35px;
    padding-bottom: 105px;
  }
}

.hero__container {
  position: relative;
  display: flex;
}

.hero__content {
  max-width: 550px;
}

.hero__title {
  max-width: 220px;
  margin-bottom: 11px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: $color-dark-blue;
  @include media(M) {
    max-width: 540px;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 32px;
  }
  @include media(XL) {
    margin-bottom: 35px;
    font-size: 40px;
    line-height: 56px;
  }
}

.hero__text {
  position: relative;
  z-index: 2;
  margin: 0;
  @include media(MOBILE) {
    max-width: 320px;
  }
  @include media(TABLET) {
    max-width: 350px;
  }
}

.hero__image {
  display: none;
  @include media(S) {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    max-width: 300px;
    margin-top: -50px;
    img {
      width: 100%;
    }
  }
  @include media(M) {
    max-width: 450px;
  }
  @include media(L) {
    max-width: 500px;
    margin-top: -155px;
  }
  @include media(XL) {
    max-width: none;
  }
}
