<section class="hero">
   <div class="hero__container container">
      <div class="hero__content">
         <h2 class="hero__title">Популярные сервисы для проверки штрафов
         и задолженностей</h2>
         <p class="hero__text text">Своевременная проверка долгов перед государственными органами избавит вас от возможных проблем, связанных c арестом имущества, ограничениями на выезд за рубеж и судебными разбирательствами.</p>
         <a class="hero__button button" href="#">Перейти к сервисам</a>
      </div>
      <div class="hero__image">
         <picture>
            <source type="image/webp" srcset="./assets/img/webp/hero.webp 1x, ./assets/img/webp/hero@2x.webp 2x">
            <img src="./assets/img/hero.png" alt="mobile phone" width="620" > 
         </picture>        
</div>
   </div>
</section>