.hero {
  padding: 10px 0 20x;
  @media (min-width: $M) {
    padding: 45px 0 55px;
  }
}

.hero__container {
  display: flex;
}

.hero__content {
  max-width: 550px;
}

.hero__title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: $color-dark-blue;
  @media (min-width: $M) {
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 32px;
  }
  @media (min-width: $XL) {
    font-size: 40px;
    line-height: 56px;
  }
}

.hero__text {
  margin: 0;
}

.hero__image {
  display: none;
  @media (min-width: $L) {
    display: block;
    flex: 1 0 620px;
  }
}
