.hero {
  padding: 5px 0 20px;
  @include media(M) {
    padding: 25px 0 30px;
  }
  @include media(L) {
    padding-top: 20px;
    padding-bottom: 55px;
  }
  @include media(XL) {
    padding-top: 35px;
    padding-bottom: 105px;
  }
}

.hero__container {
  position: relative;
  display: flex;
}

.hero__content {
  max-width: 550px;
}

.hero__title {
  max-width: 220px;
  margin-bottom: 11px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: $color-dark-blue;
  @include media(M) {
    max-width: 550px;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 32px;
  }
  @include media(XL) {
    margin-bottom: 35px;
    font-size: 40px;
    line-height: 56px;
  }
}

.hero__text {
  margin: 0;
}

.hero__image {
  display: none;
  @include media(L) {
    position: absolute;
    top: 0;
    right: 50px;
    display: block;
    margin-top: -155px;
  }
}
