.debt-info {
  padding: 20px 0 40px;
  background-color: $color-white;
  @include media(XL) {
    padding: 60px 0 90px;
  }
}

.debt-info__body {
  @include media(XL) {
    display: grid;
    // grid-template-columns: 498px auto 493px;
    grid-template-columns: 498px auto;
  }
}

.debt-info__warnings {
  margin-bottom: 40px;
  @include media(XL) {
    margin-bottom: 0;
  }
}

.warnings__title {
  margin-bottom: 20px;
  line-height: 24px;
  @include media(L) {
    line-height: 38px;
  }
}

.debt-info__article {
  @include media(L) {
    max-width: 575px;
    justify-self: flex-end;
    grid-column: 2/-1;
  }
  @include media(XL) {
    margin-bottom: 0;
  }
}

.debt-info__article-title {
  margin-bottom: 13px;
  @include media(M) {
    margin-bottom: 23px;
  }
}

.debt-info__article-text {
  margin: 0;
  @include media(L) {
    max-width: 495px;
    font-size: 15px;
    line-height: 24px;
  }
}

.debt-info__debt-check {
  grid-column: 1/-1;
  margin-bottom: 60px;
  @include media(XL) {
    margin-bottom: 80px;
  }
}

.debt-check {
  width: 100%;
  padding: 22px;
  border-radius: 14px;
  background:
    $color-secondary url("../img/debt-check-bg/mobile-bg.svg") center /
    cover no-repeat;
  box-shadow: 0 26px 28px -2px #00294917;
  color: $color-bg;
  @include media(L) {
    padding: 32px;
    background-image: url("../img/debt-check-bg/desktop-bg.svg");
  }
  p {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    @include media(M) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.debt-check__title {
  max-width: 160px;
  margin-bottom: 12px;
  color: inherit;
  @include media(S) {
    max-width: none;
    margin-bottom: 5px;
  }
}

.debt-check__content {
  margin: 0;
  @include media(L) {
    display: grid;
    align-items: center;
    max-width: 930px;
    margin: 0 auto;
    grid-template-columns: minmax(min-content, 500px) auto;
    column-gap: 70px;
  }
}

.debt-check__column--right p {
  @include media(L) {
    line-height: 30px;
  }
}
