<section class="debt-info">
   <div class="debt-info__container container">
      <div class="debt-info__body">
         <div class="debt-info__warnings warnings" id="warnings">
            <h3 class="warnings__title title">Чем грозит уклонение от уплаты задолженностей?
            </h3>
            {% from '../../components/warnings-list/warnings-list.njk' import list %}
            {% set info = [
               {
                  class: 'warnings__item',
                  pathImg: './assets/img/warning.svg',
                  title: 'Арест имущества',
                  description: "Транспорт, недвижимость, ценности"
               }, {
                  class: 'warnings__item',
                  pathImg: './assets/img/warning.svg',
                  title: 'Блокировка счетов',
                  description: "Банковских карт, Принудительные взыскания"
               }, {
                  class: 'warnings__item',
                  pathImg: './assets/img/warning.svg',
                  title: 'Запрет на выезд',
                  description: "За пределы страны"
               }, {
                  class: 'warnings__item',
                  pathImg: './assets/img/warning.svg',
                  title: 'Штрафные санкции',
                  description: "Устанавливаются решением суда"
               }
            ] %}
            {{  list(info, 'warnings__list') }}
         </div>
         <article class="debt-info__article">
            <h4 class="debt-info__article-title title">Мы настоятельно рекомендуем проводить проверку ваших
               задолженностей не реже
               чем 1-2 раза в неделю</h4>
            <p class="debt-info__article-text text">Нередко случается так, что даже самый исправный и законопослушный
               гражданин, в
               полной мере не владеет информацией o возникших задолженностях или внезапно появившемся штрафе.<br>B это
               время, в
               первую очередь, упускаются возможности оплатить штраф co скидкой в 50%, a так же может быть начислена
               пеня
               за неуплату.</p>
         </article>
         <div class="debt-info__debt-check debt-check" id="debt-check">
            <div class="debt-check__content text">
               <div class="debt-check__column">
                  <h4 class="debt-check__title title">Как проверить задолженности?</h4>
                  <p>Проверить задолженность по ФССП вы можете как по личным данным так и по номеру исполнительного
                     производства. Для проверки долгов по личным данным необходимо заполнить:</p>
               </div>
               <div class="debt-check__column debt-check__column--right">
                  <p>
                     Фамилию, имя, отчество (ФИО);<br>Дату рождения;<br>Регион;
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>