<header class="header">
  <div class="container header__container">
    <div class="header__body">
      <a class="header__logo logo">
        <img class="logo__img" src="./assets/img/logo_header.svg" alt="logo" width='70' height='29'>
      </a>
      <nav class="header__navigation navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a class="navigation__link" href="#">
              Штрафы ГИБДД</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#">
              Ипотека</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#">
              Кредиты</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#">
              Налоговая<br>
              задолженность </a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#">
              Алименты,<br>Иски</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>