<header class="header">
  <div class="container header__container">
      <a class="header__logo logo">
        <img class="logo__img" src="./assets/img/logo_header.svg" alt="logo" width='40' height='40'>
      </a>
  </div>
</header>