<section class="feedback">
   <div class="feedback__container container">
      <div class="feedback__body">
         <h3 class="feedback__title title">Остались вопросы? Свяжитесь с нами</h3>
         <a class="feedback__button button" href="#">
            Обратная связь
         </a>
      </div>
   </div>
</section>