.card-service {
  display: grid;
  align-items: center;
  grid-template-areas:
    "logo titles"
    "text  text";
  grid-template-columns: auto 1fr;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 12px 28px -2px #dfeffc;
  @include media(M) {
    padding: 35px 50px;
    grid-template-areas:
      "logo titles "
      "logo text ";
    column-gap: 10px;
  }
  .card-service__logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    grid-area: logo;
    img {
      width: 100%;
    }
    @include media(M) {
      width: 80px;
      height: 80px;
      margin-right: 35px;
    }
    @include media(L) {
      width: 100px;
      height: 100px;
      margin-right: 30px;
    }
  }
  a {
    position: relative;
    margin-left: auto;
    padding: 9px 22px;
    background: $color-secondary;
    font-size: 0;
    font-weight: 700;
    grid-area: button;
    @include media(M) {
      padding: 15px 22px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18px;
      height: 14px;
      background: url("../img/arrow.svg") center / 18px no-repeat;
      @media (min-width: $M) {
        display: none;
      }
    }
    @include media(L) {
      padding: 22px;
    }
    &:hover {
      background:
        linear-gradient(
          165.71deg,
          $color-secondary 20.77%,
          rgba(0, 142, 255, 0) 116.88%
        );
    }
    &:active {
      background: $color-secondary;
      box-shadow: none;
    }
    @include media(M) {
      width: 100%;
      max-width: 220px;
      background: $color-secondary;
      font-size: 16px;
    }
  }
  div:last-of-type {
    grid-area: titles;
    @include media(M) {
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
    }
    h4 {
      font-size: 17px;
      font-weight: 700;
      line-height: 20px;
      color: $color-dark-blue;
      @include media(M) {
        font-size: 27px;
        line-height: 34px;
      }
    }
    span {
      font-size: 8px;
      line-height: 10px;
      color: $color-secondary;
      @include media(M) {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
  p {
    max-width: 850px;
    margin: 0;
    line-height: 19px;
    grid-area: text;
    @include media(M) {
      font-size: 15px;
      line-height: 20px;
      color: $color-black;
    }
  }
}
